.container {
    width: 80%;
    margin: 0 auto;
    border: 10px solid #9f0627;
    height: 600px; /*altura fixa para test*/

    display: grid; /*colocar na tag father*/
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));/* 'auto-fit' deixa a quantidade automaticas*/

    justify-content: center;
    align-content: center;
}

.item {
    padding: 10px;
    background-color: #fe6f8e;
    color: white;
    border: 10px solid #ff315e;
}
